@using Microsoft.AspNet.Identity;
@{

    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ToDo List";
    ViewBag.backhref = "https://www.pixeden.com/media/k2/galleries/165/004-subtle-light-pattern-background-texture-vol5.jpg";
}

<!DOCTYPE html>

<html ng-app="todoApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDoList</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ToDoController.js"></script>
    <script src="~/Scripts/Interface.js"></script>
    <script src="~/Scripts/my-angular.filters.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" /> 
    <link rel="stylesheet"href="~/Content/simple-sidebar.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/interface")
</head>

<body ng-controller="todoController" style="margin-left: 10px; background-image: url(@ViewBag.backhref); background-repeat: repeat;">
    <div style="width= 100%; z-index: 100"><a href="/"><img src="~/Content/img/logo.png" style="position: absolute; left: 88%;" /></a></div>    
    <div class="container body-content">

    <div id="wrapper">
       
        <nav id="sidebar">
            

            <div class="sidebar-header" style="padding-bottom: 40px;">
                <h1>@Html.ActionLink("ToDo List", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "padding-top: 0;"})</h1>
                <div id="dismiss">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>
            </div>

            <ul class="list-unstyled components">
                @*<p>@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>*@
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Записи</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#" ng-click="params.searchText.Done='True'">Выполненные
                            <span ng-show="params.searchText.Done == 'True'" class="fa fa-check"></span>
                            </a>
                        </li>
                        <li><a href="#" ng-click="params.searchText.Done='False'">Не выполненные
                                <span ng-show="params.searchText.Done == 'False'" class="fa fa-check"></span>
                            </a>
                        </li>
                        <li><a href="#" ng-click="params.searchText.Done=''">Все
                                <span ng-show="params.searchText.Done == ''" class="fa fa-check"></span>
                            </a>
                        </li>
                    </ul>
                    
                </li>
                <li><hr /></li>
                <li class="active">
                    <a href="#helloSubmenu" data-toggle="collapse" aria-expanded="false">Здравствуйте, @User.Identity.GetUserName()</a>
                    <ul class="collapse list-unstyled" id="helloSubmenu">
                        <li><a href="/Manage">Управление аккаунтом</a></li>
                        <li>
                            <form action="/Account/LogOff" id="logoutForm" method="post">
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                            </form>
                        </li>
                    </ul>               
                </li>
                
                
            </ul>

    
        </nav>
        <div id="content">
            
            <div style="background-color: rgba(255, 255, 255, 0.9); width: auto;padding: 50px; padding-bottom: 200px; height: 100%; background-size: cover;">
             @*   <div style="width= 100%; z-index: 100"><img src="~/Content/Снимок.PNG" style="position: absolute; left: 75%;" /></div>*@
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    Menu
                </button>
                <div ng-show="!editmode" style="height: 250px;">
                    <h3>Добавление новой записи</h3>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Описание:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="descToAdd"  placeholder="Введите описание" maxlength="119" style="width: 100%; max-width:none" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Приоритет</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="priorToAdd" ng-init="priorToAdd = '3'">
                                    <option value="3" ng-selected style="color: green">Низкий</option>
                                    <option value="2" style="color: darkorange ">Средний</option>
                                    <option value="1" style="color: red">Высокий</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <input class="btn btn-success" type="submit" value="Добавить" ng-click="addOne();" />
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div ng-show="editmode" style="height: 250px;">
                    <h3>Редактирование записи</h3>
                    <form class="form-horizontal">
                        <input type="hidden" ng-model="idToUpdate" />
                        <div class="form-group">
                            <label class="control-label col-sm-2">Описание:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="descToUpdate" placeholder="Введите описание" style="width: 100%; max-width:none" maxlength="119" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Приоритет</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="priorToUpdate" ng-init="priorToUpdate = '3'">
                                    <option value="3" style="color: green" ng-selected>Низкий</option>
                                    <option value="2" style="color: darkorange">Средний</option>
                                    <option value="1" style="color: red">Высокий</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-sm-2">Дата создания:</label><div class="col-sm-2"> {{dateToUpdate | mydate | date: fulldate}}</div>
                            @*<div class="col-sm-4"><input type="datetime-local" class="form-control" ng-model="dateToUpdate"/></div>*@

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Выполнено</label>
                            <div class="col-sm-2"><input class="checkbox-inline" type="checkbox" ng-model="doneToUpdate" /></div>
                        </div>
                        <input class="col-sm-offset-2 btn btn-success" type="button" value="Принять изменения" ng-click="putOne();" />
                        <input class="btn btn-warning" type="button" value="Отменить" ng-click="putCancel();" />
                    </form>
                </div>
                <div>
                    <hr />
                    <h3>Записи</h3>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Поиск" ng-model="params.searchText.Description">
                            </div>
                        </div>
                    </form>
                    <table class="table" ng-init="getAll();">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#" ng-click="params.sortType = 'Description'; params.sortReverse = !params.sortReverse">
                                        Описание
                                       <span ng-show="params.sortType == 'Description' && !params.sortReverse" class="fa fa-caret-down"></span>
                                       <span ng-show="params.sortType == 'Description' && params.sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="params.sortType = 'Done'; params.sortReverse = !params.sortReverse">
                                        Состояние
                                        <span ng-show="params.sortType == 'Done' && !params.sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="params.sortType == 'Done' && params.sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#" ng-click="params.sortType = 'Priority'; params.sortReverse = !params.sortReverse" style="min-width: 200px;">
                                        Приоритет
                                        <span ng-show="params.sortType == 'Priority' && !params.sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="params.sortType == 'Priority' && params.sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>














                            @*<tr>
                                <th ng-click="SortList('Description');" class="header sortable">Описание</th>
                                <th ng-click="SortList('CreationDate');">Дата создания</th>
                                <th ng-click="SortList('Done');">Состояние</th>
                                <th ng-click="SortList('Priority');">Приоритет</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>*@
                        </thead>
                        <tbody>
                            <tr ng-repeat="note in notes | orderBy: params.sortType:params.sortReverse | filter: params.searchText">
                                <td><p ng-bind="note.Description" style="word-wrap:break-word; width: 200px;"></p></td>
                             @*   <td><p ng-bind="note.CreationTime | mydate | date: 'dd/MM/yyyy'"></p></td>*@
                                <td>
                                    <p><div ng-if="note.Done" class="label label-success">Выполнено</div></p>
                                    <p><div ng-if="!note.Done" class=" label label-danger">Не завершено</div></p>
                                </td>
                                <td>
                                    <div ng-if="note.Priority == '3'" style="color: green"><p>Низкий</p></div>
                                    <div ng-if="note.Priority == '2'" style="color: darkorange"><p>Средний</p></div>
                                    <div ng-if="note.Priority == '1'" style="color: red"><p>Высокий</p></div>
                                </td>
                                <td><input class="btn btn-default" type="button" value="Редактировать" ng-click="editOne(note);" /></td>
                                <td><input class="btn btn-default" type="button" value="Удалить" ng-click="deleteOne(note.Id);"></td>
                                <td><input class="btn btn-default" ng-if="!note.Done" type="button" value="Пометить как завершенное" ng-click="endNote(note);" /></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
            </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sidebar").niceScroll({
                cursorcolor: '#53619d',
                cursorwidth: 4,
                cursorborder: 'none'
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').fadeOut();
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').fadeIn();
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    
    </div>
    <div class="overlay" style="left: 0;"></div>
</body>
</html>